.container {
  margin-top: 60px;
  text-align: center;
}
.text-center {
  color: #fe3636;
  font-size: 2rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 46px;
}

.form-item {
  margin-right: 60px;
}
.contacts-input {
  margin-bottom: 1.5rem;
  padding: 1.25rem;
  display: block;
  min-width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border-radius: 0.25rem;
  width: 506px;
  border: none;
}

.comments-input {
  height: 200px;
}

.contacts-input:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}
.contacts-button {
  padding: 0.65em 2.1rem;
  font-size: 1.125rem;
  color: #fff;
  background-color: #fe3636;
  border: 1px solid #fe3636;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  border-radius: 0.25rem;
  margin-bottom: 80px;
}

@media (max-width: 615px) {
  .form-item {
    margin-right: 0;
  }

  .contacts-input {
    min-width: 350px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .contacts-input {
    width: 300px;
  }

  .section-heading {
    font-size: 32px;
  }
  .contacts-input {
    min-width: 0;
  }
}

@media (max-width: 375px) {
  .section-heading {
    font-size: 28px;
  }
}

@media (max-width: 320px) {
  .contacts-input {
    width: 235px;
  }

  .section-heading {
    font-size: 24px;
  }
}
